.background {
    position: relative;
}
.hero-text-container {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: flex-end;
}
.hero-text-container p {
    color: #FFFFFF;
    font-size: 22px;
    max-width: 426px;
    font-family: "ExpertSans-Regular", sans-serif;
    line-height: 1.2;
}
.hero-text-container .play-btn {
    color: #005F85;
    background-color: #FFFFFF;
    font-size: 25px;
    border-radius: 15px;
    text-decoration: none;
    width: 100%;
    max-width: 426px;
    text-align: center;
    display: inline-block;
    font-family: "ExpertSans-Bold", sans-serif;
}
.hero-text-container .play-btn:hover,
.hero-text-container .play-btn:focus {
    background-color: #005F85;
    color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
    .hero-text-container p {
        font-size: 18px;
        text-align: center;
    }
    .hero-text-container {
        justify-content: space-between;
        width: 100%;
        left: 0;
        padding: 0 16px;
        text-align: center;
    }
    .hero-text-container .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 77px 0;
    }
}
@media only screen and (min-width: 768px) {
   .hero-text-container .play-btn {
        margin-top: 16px;
    }
}