/**
SECTION 01
*/
.background {
    position: relative;
}
.hero-text-container {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: flex-end;
}
.hero-text-container p {
    color: #FFFFFF;
    font-size: 22px;
    max-width: 426px;
    font-family: "ExpertSans-Regular", sans-serif;
    line-height: 1.2;
}
.hero-text-container .play-btn {
    color: #005F85;
    background-color: #FFFFFF;
    font-size: 25px;
    border-radius: 15px;
    text-decoration: none;
    width: 100%;
    max-width: 426px;
    text-align: center;
    display: inline-block;
    font-family: "ExpertSans-Bold", sans-serif;
}
.hero-text-container .play-btn:hover,
.hero-text-container .play-btn:focus {
    background-color: #005F85;
    color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
    .hero-text-container p {
        font-size: 18px;
        text-align: center;
    }
    .hero-text-container {
        justify-content: space-between;
        width: 100%;
        left: 0;
        padding: 0 16px;
        text-align: center;
    }
    .hero-text-container .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 77px 0;
    }
}
@media only screen and (min-width: 768px) {
    .hero-text-container .play-btn {
        margin-top: 16px;
    }
}

/**
SECTIONS 02 - 04
*/

.trivia-bg-container {
    position: relative;
}
.counter {
    color: #FFFFFF;
    font-family: "BebasNeue-Regular", sans-serif;
    font-size: 123px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.trivia-bg-container {
    position: relative;
}
.result-text-container {
    position: absolute;
    top: 0;
    animation: zoom-in-zoom-out 1s ease;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-delay: 2s;

}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}
.trivia_progress_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    margin: auto;
}
.trivia_progress_container p {
    color: #FFFFFF;
    font-family: "ExpertSans-Regular", sans-serif;
    font-size: 22px;
    margin: 0;
    margin-right: 24px;
}
.trivia_progress {
    display: flex;
}
.trivia_progress div {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    margin-left: 16px;
}
.trivia_progress div.green {
    background-color: #1FB288;
    border-color: #1FB288;
}
.trivia_progress div.orange {
    background-color: #F26C29;
    border-color: #F26C29;
}
.question_background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#section-03 .question_background {
    padding: 16px;
}
.question_background form p {
    text-align: center;
    color: #FFFFFF;
    font-family: 'ExpertSans-Regular', sans-serif;
    font-size: 22px;
}
.question_background .form-group {
    position: relative;
    max-width: 739px;
    margin-left: auto;
    margin-right: auto;
}
.question_background .form-group input {
    opacity: 0;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.question_background .form-group label {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "ExpertSans-Bold", sans-serif;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.question_background .form-group input:checked + label {
    background-color: #FFFFFF;
    color: #333333;
}
.question_background .img-container {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
}
/**
SECTION 05
*/
.question_background .row {
    padding-top: 40px;
    padding-bottom: 32px;
}
.question_background .legend {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "ExpertSans-Regular", sans-serif;
    margin-bottom: 32px;
}
.question_background .cta, .question_background .cta a,
.question_background .cta a:hover,
.question_background .cta a:focus  {
    font-family: "ExpertSans-Regular", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}
.question_background .card-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.share-result-container {
    position: relative;
    background-color: #005F85;
    padding: 16px;
}
.share-result-container p {
    text-align: center;
    color: #FFFFFF;
    font-family: "ExpertSans-Regular", sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
.share-result-container a {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
}
/**
RESPONSIVE
*/
@media only screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .main-container {
        padding: 0;
    }
    .question_background {
        min-height: 552px;        
    }
    #section-03 .question_background {
        padding: 0 16px;
        padding-top: 80px;
    }
    .question_background form p {
        font-size: 18px;
    }
    .trivia_progress_container p {
        font-size: 16px;
    }
    .trivia_progress div {
        width: 16px;
        height: 16px;
    }
    .trivia_progress_container {
        margin-bottom: 40px;
    }
    #section-05 .col-12 .cta, #section-05 .col-12 .cta a {
        font-size: 16px;
        text-align: center;
    }
    #section-05 .col-md-7 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    #section-05 .col-md-7 > div {
        max-width: 171px;
        margin-bottom: 24px;
    }
    #section-05 .col-md-7 > div .mobile {
        margin-top: 16px;
    }
    .question_background .row {
        padding-left: 16px;
        padding-right: 16px;
    }
    .question_background .card-container .legend {
        order: 2;
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
    }
    .question_background .cta {
        margin-top: 32px;
    }
    .share-result-container p {
        font-size: 18px;
    }
    .share-result-container a img {
        max-width: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .question_background {
        border-radius: 27px;
    }
    .share-result-container {
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
    }
}
section:not(#section-01), #section-04.error #success, #section-04.success #error {
    display: none;
}
#section-03 .text-container {
    font-family: "ExpertSans-Regular", sans-serif;
    color: #353432;
    font-size: 24px;
    letter-spacing: 1.1px;
}
.text-container .bold {
    font-family: "BebasNeue-Regular", sans-serif;    
}
#section-03 #penalty_title {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

